{
  // Fonts
  "editor.fontFamily": "'MonoLisaCode', 'Symbols Nerd Font Mono', 'Pretendard GOV Variable', Menlo, Monaco, 'Courier New', monospace",
  "editor.fontLigatures": "'calt', 'liga', 'cv01', 'cv02', 'cv03', 'cv04', 'cv05', 'cv07', 'cv08', 'cv09', 'cv11', 'cv12', 'dlig', 'ss01', 'ss13'",
  "editor.lineHeight": 1.7,

  "terminal.integrated.fontFamily": "'MonoLisaCode', 'Symbols Nerd Font Mono', 'Pretendard GOV Variable', Menlo, Monaco, 'Courier New', monospace",
  "terminal.integrated.fontLigatures.enabled": true,
  "terminal.integrated.fontLigatures.featureSettings": "'calt', 'liga', 'cv01', 'cv02', 'cv03', 'cv04', 'cv05', 'cv07', 'cv08', 'cv09', 'cv11', 'cv12', 'dlig', 'ss01', 'ss13'",
  "terminal.integrated.lineHeight": 1.4,
  "debug.console.fontFamily": "'MonoLisaCode', 'Symbols Nerd Font Mono', 'Pretendard GOV Variable', Menlo, Monaco, 'Courier New', monospace",
  "debug.console.lineHeight": 1.6,

  // Theme
  "workbench.colorTheme": "Monokai Pro",
  "workbench.iconTheme": "flow-deep",
  "flow-icons.licenseKey": "{{ onepasswordRead "op://Private/Flow Icons/reg_code" }}",
  "window.systemColorTheme": "auto",

  // Editor
  "editor.formatOnSave": true,
  "editor.defaultFormatter": "dbaeumer.vscode-eslint",
  "editor.unicodeHighlight.nonBasicASCII": false,
  "window.zoomLevel": -1,
  "workbench.editor.pinnedTabsOnSeparateRow": true,

  // Languages
  "python.analysis.typeCheckingMode": "standard",
  "dart.previewFlutterUiGuides": true,

  // Tools
  "git.autofetch": true,
  "claudeCode.preferredLocation": "panel"
}
